
<div class="row layoutheader">
  <div class="col-sm-8">
    <h4 class="p-2"  *ngIf="div1">Create Layout</h4>
     <h4 class="p-2"  *ngIf="div2">Layout preview</h4>
  </div>
  <div class="col-sm-2" >
    <i class="fa fa-mobile topicns" (click)="smartphone()" *ngIf="icns" title="Mobile"></i>
    <i class="fa fa-tablet topicns" (click)="tablet()" *ngIf="icns" title="Tablet"></i>
    <i class="fa fa-laptop topicns" (click)="laptop()" *ngIf="icns" title="Desktop"></i>


  </div>
  <div class="col-sm-2">
    <button *ngIf="previewbtn" class="m-2" mat-raised-button color="accent" (click)="preview()">Preview Changes</button>
    <button *ngIf="btns" class="m-2"  mat-raised-button color="primary" >Save</button>&nbsp;
    <button *ngIf="btns" class="m-2" mat-raised-button color="accent" (click)="previewback()">Back</button>
  </div>
</div>
<div *ngIf="div1">
<div cdkDropListGroup >
    <div
      cdkDropList
       [cdkDropListData]="rowarray" (cdkDropListDropped)="drop($event)">
      <div class="row col-sm-12" style="padding: 0px !important;
      margin: 0px !important;">
      <div class="col-sm-{{a}}  abc" [style.height.vh]="heightval[i]" *ngFor="let a of rowarray;let i = index;" cdkDrag>
        <div *ngIf="a == 12 " >
          <a (click)="open(content)"><i class="fa fa-pencil" (click)="editrow(i)" aria-hidden="true"></i></a>
          </div>
          <i class="fa fa-trash" (click)="onRemoveRow(i)" aria-hidden="true"></i>
       </div>
    </div>
    </div>
  </div>
 
<div class="center">
  <button mat-raised-button color="primary" (click)="onAddRow()" >Add Element</button>&nbsp;

</div>
</div>
<!-----Edit-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Row Layout</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Select row layout from predefined options.</p><br>
   <a class="btn btn-primary" (click)=layout([12])>1&nbsp;&nbsp;</a>&nbsp;
   <a class="btn btn-primary" (click)=layout([6,6])>2&nbsp;&nbsp; </a>&nbsp;
   <a class="btn btn-primary" (click)=layout([4,4,4])>3&nbsp;&nbsp;</a>&nbsp;
   <a class="btn btn-primary" (click)=layout([3,3,3,3])>4&nbsp;&nbsp;</a>&nbsp;
   <a class="btn btn-primary" (click)=layout([4,8])>4/8&nbsp;&nbsp;</a>&nbsp;
   <a class="btn btn-primary" (click)=layout([3,9])>3/9&nbsp;&nbsp;</a>&nbsp;
   <a class="btn btn-primary" (click)=layout([2,2,2,2,2,2])>6&nbsp;&nbsp;</a>&nbsp;
   <a class="btn btn-primary" (click)=layout([2,5,5])>2/5/5&nbsp;&nbsp;</a>&nbsp;
   <a class="btn btn-primary" (click)=layout([2,10])>2/10&nbsp;&nbsp;</a>&nbsp;

   
  </div>
 <h4>{{Val}}</h4>
  <!--<form [formGroup]="regForm" (ngSubmit)="layoutsave(regForm.value)">
    <input matInput placeholder="Height" formControlName="heightval">

    </form>-->
 <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="layoutsave()" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<!--Edit-->

<!--Edit-->
<div *ngIf="div2" class="previewdiv">
<div class="row" style="padding: 0px !important;
margin: 0px !important;">
<div  class="col-sm-{{a}}  abc"  *ngFor="let a of rowarray">
</div>
</div>
<div class="center">

</div>
</div>
<div class="smartphone mt-4" *ngIf="smartphonediv">
  <div class="content">
    <div class="row m-0">
      <div  class="col-sm-{{a}}  abc"  *ngFor="let a of rowarray">
      </div>
    </div>
 </div>
</div>
<div class="tablet mt-4"  *ngIf="tabletdiv">
  <div class="content">
    <div class="row m-0">
      <div  class="col-sm-{{a}}  abc"  *ngFor="let a of rowarray">
      </div>
    </div>
 </div>
</div>
<div class="laptop mt-4"  *ngIf="laptopdiv">
  <div class="content">
    <div class="row m-0" >
    <div  class="col-sm-{{a}}  abc"  *ngFor="let a of rowarray">
    </div>
  </div>
    </div>
</div>