<form [formGroup]="form">
    <!-- X -->
    <div formArrayName="Xs">
        <div  *ngFor="let X of form['controls'].Xs['controls']; let ix=index">
         <div  formGroupName="{{ix}}">
                    <input class="form-control" type="text" formControlName="X">
                </div>
            </div>
        </div>
    <div class="center">
        <button mat-raised-button color="primary" (click)="onAddRow()">Add Element</button>&nbsp;
    </div>
</form>

<h5>Field Values</h5>
<pre style="font-size:15px">{{ form.value | json }}</pre>